---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	 <h1 class="text-red-500 text-center underline font-bold text-4xl">Hello new portfolio</h1>
	</main>
</Layout>

